* {
    box-sizing: border-box;
}

#menu {
    background-color: rgba(150, 20, 50, 1.9);
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

ul.navbar-nav {
    float: right;
    text-align: center;
}

ul.navbar-nav li {
    padding: 0 10px;
}

@media only screen and (max-width:767px) {
    ul.navbar-nav {
        float: none;
    }
}

.container-fluid {
    padding: 0 1em;
}

.navbar-nav li a {
    color: white!important;
    font-size: 1.2em;
    font-family: Century gothic, sans-serif;
    font-weight: 600;
    transition: 0.4s ease;
}

.navbar-nav li a:hover {
    color: #fff!important;
    background-color: black!important;
}

.navbar-brand {
    padding: 10px 15px!important;
}

a.navbar-brand .fa-globe {
    font-size: 30px;
    color: black;
    transition: 0.5s ease;
}

a.navbar-brand .fa-globe:hover {
    color: #3935e6;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black!important;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #ffcc66!important;
}

.container {
    margin: 0 auto;
    max-width: 996px;
}

.splash {
    background: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-452613.jpg") no-repeat fixed center bottom;
    background-size: cover;
    color: #ffcc66;
}

.splash .container {
    padding-top: 15vh;
    /* No JS fallback*/
    padding-bottom: 10vh;
    /* No JS fallback*/
}

<!--ürünler css-->.glyphicon {
    margin-right: 5px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item img {
    float: left;
}

.list-group-item-text {
    margin: 0 0 11px;
}


/* ========================
Footer
======================== */

footer {
    background-color: #2C3E50;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    padding: 3%;
}

.fa-heart {
    color: #f32323;
}

h4.author {
    letter-spacing: 4px;
}

hr.footer-hr {
    width: 1050px;
}

hr.copyright {
    opacity: 0.4;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}